.idea
src/vocably/vocably.egg-info
src/vocably/__pycache__
build
src/nandini_vocably.egg-info
dist
src/vocably.egg-info
src/__init__.py
.pytest_cache
test_and_deploy/test.txt
/test_and_deploy/
src/vocably/cli/__pycache__
src/vocably/featurizer/__pycache__
src/vocably/preprocessing/__pycache__/
test/__pycache__
test_and_deploy/twine.txt
.idea/
venv
oryx-build-commands.txt
